<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2025 Created by Tushar. All rights reserved.</p>
        <div class="social-media">
            <a href="#" class="social-icon">Facebook</a>
            <a href="#" class="social-icon">Twitter</a>
            <a href="#" class="social-icon">Instagram</a>
        </div>
    </div>
</footer>