<div class="chat-app">
  <div class="chat-sidebar">
    <!-- <h2 class="app-title">Chat-Application</h2> -->
    <ul class="user-list">
      <% users.forEach(function(user) { %>
        <li class="user-item" data-id="<%= user._id %>">
          <img src="<%= user.image %>" alt="User Image" class="user-avatar">
          <div class="user-info">
            <span class="user-name"><%= user.name %></span>
            <span class="user-status" id="<%= user._id %>-status">
              <% if (user.is_online == 1) { %>
                Online
              <% } else { %>
                Offline
              <% } %>
            </span>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>

  <div class="chat-content">
    <h3 class="start-head">Click to start the chat</h3>
    <div class="chat-section">
      <div id="chat-container" class="chat-messages">
        
      </div>
      <form action="/save-chat" id="chat-form" class="message-form" method="post">
        <input type="text" name="message" placeholder="Enter Message" id="message" required>
        <button type="submit" class="send-button">Send</button>
      </form>
    </div>
  </div>
</div>

